body {
  zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  zoom: 1;
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-weibo,
.article-share-weixin,
.article-share-qq,
.article-share-renren,
.article-share-more,
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
  cursor: pointer;
}
.article-share-weibo:before,
.article-share-weixin:before,
.article-share-qq:before,
.article-share-renren:before,
.article-share-more:before,
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-weibo:hover,
.article-share-weixin:hover,
.article-share-qq:hover,
.article-share-renren:hover,
.article-share-more:hover,
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-weibo:before {
  content: "\f18a";
}
.article-share-weibo:hover {
  background: #d44137;
  text-shadow: 0 1px #b02f26;
}
.article-share-weixin:before {
  content: "\f1d7";
}
.article-share-weixin:hover {
  background: #38ad5a;
  text-shadow: 0 1px #2d8a48;
}
.article-share-qq:before {
  content: "\f1d6";
}
.article-share-qq:hover {
  background: #39b2e2;
  text-shadow: 0 1px #1d96c5;
}
.article-share-renren:before {
  content: "\f18b";
}
.article-share-renren:hover {
  background: #105ba3;
  text-shadow: 0 1px #0d4982;
}
.article-share-more:before {
  content: "\f067";
}
.article-share-more:hover {
  background: #333;
  text-shadow: 0 1px #292929;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
