---
layout: default
title: 前端志主要记录与分享了个人工作过程中的前端技术心得，活到老，学到老，技术之路永无止境，共勉！
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
    <div class="post">
        <h2 class="post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        {% include meta %}
        <div class="post-content">
        {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
            <p class="text-right post-content-more">
                <a title="{{post.title}}" href="{{post.url}}">
                    <span>➥</span>Read More
                </a>
            </p>
        {% else %}
            {{ post.content }}
        {% endif %}
        </div>
        <div class="post-foot"></div>
    </div>
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination pull-right">
    <ul class="pages">
        {% if paginator.previous_page %}
        <li class="previous">
            {% if paginator.previous_page == 1 %}
            <a href="/">&lt;&lt;</a>
            {% else %}
            <a href="{{ paginator.previous_page_path }}">&lt;&lt;</a>
            {% endif %}
        </li>
        {% else %}
        <li class="previous disabled">
            <a href="#">&lt;&lt;</a>
        </li>
        {% endif %}

        {% if paginator.page == 1 %}
        <li class="page active">
            <a href="#">1</a>
        </li>
        {% else %}
        <li class="page">
            <a href="/">1</a>
        </li>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <li class="page active">
            <a href="#">{{ count }}</a>
        </li>
        {% else %}
        <li class="page">
            <a href="/page{{ count }}">{{ count }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path }}">&gt;&gt;</a>
        </li>
        {% else %}
        <li class="next disabled">
            <a href="#">&gt;&gt;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
