html {
    overflow-x: hidden;
    overflow-y: scroll;
}
body {
    position: relative;
    /* padding-top: 70px;*/
    padding: 0;
}
.header {
    /* margin-bottom: 10px;*/
    /* background: #F5F5F5;*/
}
.header .logo {
    padding: 20px 0;
}
.header .logo a:hover {
    text-decoration: none;
}
.main {}
.post {
    margin-bottom: 30px;
}
.post-meta {
    color: #999;
    /* margin-bottom: 20px;*/
}
.post-meta img {
    margin-right: 3px;
}
.post-meta a {
    padding: 0 2px;
}
.post-content {
    padding: 1em 0;
}
.post-foot a {
    padding: 0 2px;
}
#disqus_thread {
    /* padding-top: 20px;*/
}
.footer {
    text-align: center;
    padding: 60px 0;
    /* border-top: 1px solid #e5e5e5;*/
    /* background-color: #f5f5f5;*/
}
.footer ul {
    /* list-style-type: none;*/
    margin: 0;
    list-style: square;
    padding-left: 1em;
    margin-bottom: 1em;
}
.footer address {
    margin: 0;
}
.footer li {
    line-height: 26px;
}

@media(max-width:767px) {
    .container {
        padding: 0 20px;
    }
}
