<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="keywords" content="hushicai，昔之追忆，前端开发">
    <meta name="description" content="一个北漂的前端码农">
    <meta name="author" content="{{site.author.name}}" />

    <title>{{ page.title }} - {{ site.brand }}</title>

    <!--[if lt IE 9]>
    <script src="/assets/js/html5.js"></script>
    <![endif]-->

    <link rel="alternate" type="application/atom+xml" href="atom.xml"
          title="Atom feed" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css?{{site.version}}" />
    <!-- <link rel="stylesheet" href="/assets/css/print.css" media="print" />-->
    <link rel="stylesheet" href="/assets/css/site.css?{{site.version}}" />
</head>
<body>
    <div class="page">
        <!-- header  -->
        <header class="header">
            <div class="navbar navbar-static-top navbar-inverse">
                <div class="navbar-inner">
                    <div class="container">
                        <h1 class="outline">{{site.title}}</h1>
                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <!-- brand  -->
                        <a class="brand" href="/">{{site.brand}}</a>
                        <!-- Everything you want hidden at 940px or less, place within here -->
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="{{site.about_path}}">About</a></li>
                                <!-- <li><a href="{{site.atom_path}}">Atom Feed</a></li>-->
                                <!-- <li><a href="{{site.rss_path}}">Rss Feed</a></li>-->
                                <li><a href="{{site.github_url}}">github</a></li>
                            </ul>
                            <form id="google-custom-search" class="navbar-search pull-right">
                                <input id="google-custom-search-query" class="search-query" type="text"
                                       placeholder="Search..." />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- main  -->
        <section class="main">
            <div class="container">
                {{ content }}
            </div>
        </section>
        <!-- footer  -->
        <footer class="footer">
            <div class="container">
                <p class="license">Copyright &copy;{{ site.time | date: '%Y' }} {{site.author.name  }}</p>
            </div>
        </footer>
    </div> 
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Feebaea29f083e5cc508252c0f12389ef' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script>
        document.getElementById(
            'google-custom-search'
        ).onsubmit = function() {
            var query = document.getElementById(
                'google-custom-search-query'
            ).value ;

            window.open(
                '{{site.google_search_url}}' 
                + '?q=' + query + '%20' 
                + 'site:{{site.production_url}}'
            );
        };
    </script>
</body>
</html>
