---
layout: default
---

<article>
    <div class="post">
        <h2 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
        {% assign post = page %}
        {% include meta %}
        <div class="post-content">{{ content }}</div>
        {% if page.tags.size > 0 %}
        <p class="post-foot">
            {% for tag in page.tags %}
            <a href="/tag/{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </p>
        {% endif %}
        {% capture permaurl %}http://{{site.host}}{{ page.url }}{% endcapture %}
        <!--<p>永久链接：<a href="{{ permaurl }}">{{ permaurl }}</a></p>-->
    </div>
</article>

<article>
<div class="share">
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_tsina">新浪微博</a>
        <a class="jiathis_button_tqq">腾讯微博</a>
        <a class="jiathis_button_weixin">微信</a>
        <a class="jiathis_button_youdao">有道书签</a>
        <a class="jiathis_button_ydnote">有道云笔记</a>
        <a href="http://www.jiathis.com/share?uid=1810854" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
        var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1371868590358710" charset="utf-8"></script>
    <!-- JiaThis Button END -->
</div>
</article>

<article>
<div class="related">
    <!-- UJian Button BEGIN -->
    <div class="ujian-hook"></div>
    <script type="text/javascript"
        src="http://v1.ujian.cc/code/ujian.js?uid=1810854"></script>
    <a href="http://www.ujian.cc" style="border:0;"><img
        src="http://img.ujian.cc/pixel.png" alt="友荐云推荐"
        style="border:0;padding:0;margin:0;" /></a>
    <!-- UJian Button END -->
</div>
</article>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript"
    src="http://v1.uyan.cc/js/iframe.js?UYUserId=1810854" async=""></script>
<script>
    var uyan_config = {
        url: '{{site.production_url}}{{page.url}}'
    };
</script>
<!-- UY END -->
